<div ng-include="'partials/menu.html'"></div>

<div class="flex items-center justify-center mt-20">

    <div class="mx-2 w-auto sm:w-full sm:max-w-md lg:max-w-md xl:max-w-sm">

            <form class="rounded mb-2 flex flex-col w-full">

                <label for="name" class="text-sm dark:text-white">Test</label>
                <input id="name" class="dark:text-white dark:bg-gray-700 flex-1 mt-2 w-full py-1 px-2 border-2 rounded-lg text-sm focus:outline-none border-grey-100 dark:border-gray-800 focus:border-th-color dark:focus:border-th-color" />
                <!--ng-class="{'border-red-600 focus:border-red-600': false, 'border-grey-100 focus:border-th-color': true}"-->

                <label for="test" class="text-sm mt-5 dark:text-white">Test</label>
                <input id="test" class="dark:text-white dark:bg-gray-700 flex-1 mt-2 w-full py-1 px-2 border-2 rounded-lg text-sm focus:outline-none border-grey-100 dark:border-gray-800 focus:border-th-color dark:focus:border-th-color" />

            </form>

    </div>

</div>
